.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.2rem;
}

.title {
    padding-right: 1rem;
}

.heading-action{
  align-self: end;
  margin-bottom: 1rem;
}
